<!--  ABOUT-BOX -->
<div id="about-box" class="container-out" style="background-image: url({{root}}assets/img/about1.jpg);">
    <div id="about" class="container-in">
        <h1>O firmie</h1>
        <h2>"Twoje meble to nasza pasja"</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos nostrum, veritatis aperiam quas accusamus in, illum ipsa. Nesciunt adipisci accusantium facere optio id architecto libero et. Fugiat, quos voluptates odio reprehenderit odit explicabo, tempora nihil sed sint. Impedit autem suscipit dolor rem, necessitatibus facere ipsa dolorum, odit soluta nemo dolorem hic enim quasi laborum voluptatem minus repellendus iusto eos quas. Corporis consequatur repellat saepe mollitia quidem iste. Rerum atque accusantium, similique rem! Numquam sapiente iste aliquid saepe magni, amet explicabo cum. Et, fugit? Facilis neque a pariatur. Quam, autem similique at reprehenderit officiis error magni ullam harum, atque dignissimos hic!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum quam ab sed id architecto, ducimus iste natus aperiam, nisi expedita optio voluptatibus velit nostrum beatae. Aliquam ut debitis blanditiis iusto natus deleniti cupiditate officiis, dolor fugit consequatur tempore eveniet ipsam minus ea repudiandae libero placeat pariatur soluta dolore quae numquam quaerat, vero architecto doloribus dolorum. Quis praesentium, molestiae tempore consectetur!
        </p>
        <div id="buttons-box">
            <a class="button2" href="subpages/index2.html">
                Czytaj więcej +
            </a>
            <span class="or">lub</span>
            <a class="button1" href="subpages/index3.html">
                Zobacz naszą ofertę +
            </a>
        </div>
    </div>
</div>