<!-- BANNER-BOX -->
<section id="banner-box" class="container-out">
    <div id="slider-main">
        <div class="slider-item" style="background-image: url({{root}}assets/img/slider1.jpg);">
            <div class="container-in">
                <h2>Twoje meble</h2>
                <h1>Nasza pasja</h1>
            </div>
        </div>
    </div>
</section>