<!-- CONTACT-BOX -->
<div id="contact-box" class="container-out" style="background-image: url({{root}}assets/img/contact1.jpg);">
    <div id="contact" class="container-in">
        <h1>Kontakt</h1>
        <h2>Zadaj pytanie lub poproś o wycenę</h2>

        <form action="/my-handling-form-page" method="post">
            <div id="form-top">
                <div>
                    <label>Imie i nazwisko:</label>
                    <input name="name" type="text" id="contact-name" />
                </div>

                <label id="label-mail">Adres email:</label>
                <input name="mail" type="email" id="contact-email" />
            </div>

            <div>
                <label id="label-message">Treść wiadomości:</label>
                <textarea name="message" id="contact-message"></textarea>
            </div>

            <div id="form-bottom">
                <label id="contact-info">Arem ipsum dolor sit amet.</label>
                <input name="submit" type="submit" value="Wyślij wiadomość" id="contact-submit" />
            </div>
        </form>
    </div>
</div>