<!-- FOOTER-BOX -->
<div id="footer-box" class="container-out">
    <div id="footer" class="container-in">
        <p>Wszelkie prawa zastrzeżona &copy; 2015 <a href="#">nazwadomeny.pl</a></p>
        <p>Projekt i realizacja <a href="http://mal.net.pl" target="_blank">mal.net.pl</a></p>
    </div>
</div>