<!-- GALLERY-BOX -->
<div class="container-out">
    <section id="gallery-box" class="container-in">
        <h1>Oferta i realizacje</h1>
        <h2>"Twoje meble to nasza pasja"</h2>

        <div id="gallery">

            <a href="subpages/index3.html" class="gallery-item">
                <div class="gallery-info">
                    <h5>Meble</h5>
                    <h6>kuchenne</h6>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, culpa.
                    </p>
                </div>
                <div class="gallery-img" style="background-image: url({{root}}assets/img/gallery1.jpg);">
                    <div class="button1">Czytaj więcej +</div>
                </div>
            </a>

            <a href="subpages/index3.html" class="gallery-item">
                <div class="gallery-info">
                    <h5>Meble</h5>
                    <h6>kuchenne</h6>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, culpa. ebitis hic illo doloremque porro quis vitae magnam. Iste at voluptas, obcaecati quasi ad! Ab eveniet autem quis culpa nulla nostrum libero blanditiis, ratione veritatis doloribus rem perspiciatis, officia sit enim pariatur eius iure totam. Molestias recusandae debitis perferendis consequuntur aspernatur excepturi quidem optio et sunt corporis, repellat sint consequatur accusantium quasi, adipisci maxime laborum totam, pariatur! Nisi, molestias porro deleniti perferendis in libero quo praesentium quasi voluptatem vel, voluptatum explicabo autem animi! Consectetur quasi rerum quis, sit alias. Ullam repellendus, quibusdam blanditiis odio itaque dolorum placeat fuga molestias doloremque incidunt aliquid mollitia fugit distinctio error similique eaque. Explicabo modi maxime pariatur tempora necessitatibus consectetur unde, ipsam possimus asperiores nostrum soluta quos, repellendus sint deserunt quibusdam optio. Nemo, deleniti, blanditiis?
                    </p>
                </div>
                <div class="gallery-img" style="background-image: url({{root}}assets/img/gallery2.jpg);">
                    <div class="button1">Czytaj więcej +</div>
                </div>
            </a>

            <a href="subpages/index3.html" class="gallery-item">
                <div class="gallery-info right">
                    <h5>Meble</h5>
                    <h6>kuchenne</h6>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat ipsum doloremque vitae amet, natus dicta accusamus temporibus dolore, dolorem impedit quidem ea eum voluptas, est minima, dolorum inventore saepe. Excepturi tempora accusantium facilis maxime beatae mollitia minus fugit doloremque quae adipisci quam a, odio, sint corrupti neque, voluptatem inventore in officiis iure, earum voluptates reiciendis laborum nam! Pariatur, qui dolor nesciunt voluptatum consequatur assumenda delectus quam non laudantium doloremque vitae libero? Aperiam alias eligendi, sit iure blanditiis, necessitatibus quasi ipsam, dignissimos iusto repellat illum sapiente harum asperiores porro esse a consequatur ab quis nisi quam. Amet animi voluptate sit maiores ab, iste eos possimus quos iusto. Sit aliquid natus at consequuntur, excepturi, molestiae enim magni deserunt, saepe vero totam soluta.
                    </p>
                </div>
                <div class="gallery-img" style="background-image: url({{root}}assets/img/gallery3.jpg);">
                    <div class="button1">Czytaj więcej +</div>
                </div>
            </a>

            <a href="subpages/index3.html" class="gallery-item">
                <div class="gallery-info right">
                    <h5>Meble</h5>
                    <h6>kuchenne</h6>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, temporibus, dolor. Tempora animi amet consequuntur quo, alias porro impedit, assumenda est distinctio optio suscipit illum necessitatibus, qui reprehenderit. Veniam dolores adipisci nesciunt quaerat voluptatem provident? Repellendus dolor assumenda enim quasi amet architecto repellat aliquam pariatur, deleniti sed, aut corrupti necessitatibus officiis dignissimos. Ratione aperiam veniam sequi soluta optio dolores. Tempore ab commodi fugiat facilis dolore repellendus asperiores amet dicta. Repellat, laudantium earum deserunt nisi fugit possimus voluptatem beatae velit voluptas. Aliquid eos consequuntur nulla quo praesentium, laudantium fuga voluptate reprehenderit quam amet veniam excepturi deserunt, a nobis, quia deleniti officiis natus debitis! Deserunt voluptatum, dignissimos reprehenderit delectus odio quod molestiae, nostrum tenetur doloremque neque voluptates ullam quaerat dolorem ea, aut.
                    </p>
                </div>
                <div class="gallery-img" style="background-image: url({{root}}assets/img/gallery4.jpg);">
                    <div class="button1">Czytaj więcej +</div>
                </div>
            </a>
        </div>

        <div class="clean"></div>
    </section>
</div>