<!-- HEADER-BOX -->
<div class="container-out">
    <header id="header-box" class="container-in">
        <div id="logo">
            <a href="{{root}}index.html"><img src="{{root}}assets/img/logo.png" alt="logo" /></a>

            <div class="nav-icon1">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <ul id="menu-box">
            <li class="menu-item" {{#ifpage 'index'}}id="current_page_item"{{/ifpage}}>
                <a href="{{root}}index.html">Strona główna</a>
            </li>
            <li class="menu-item" {{#ifpage 'index2'}}id="current_page_item"{{/ifpage}}>
                <a href="{{#ifpage 'index'}}subpages/{{/ifpage}}index2.html">O firmie</a>
            </li>
            <li class="menu-item" {{#ifpage 'index3'}}id="current_page_item"{{/ifpage}}>
                <a href="{{#ifpage 'index'}}subpages/{{/ifpage}}index3.html">Oferta</a>
            </li>
            <li class="menu-item" {{#ifpage 'index4'}}id="current_page_item"{{/ifpage}}>
                <a href="{{#ifpage 'index'}}subpages/{{/ifpage}}index4.html">Aktualności</a>
            </li>
            <li class="menu-item" {{#ifpage 'index5'}}id="current_page_item"{{/ifpage}}>
                <a href="{{#ifpage 'index'}}subpages/{{/ifpage}}index5.html">Realizacje</a>
            </li>
            <li class="menu-item" {{#ifpage 'index6'}}id="current_page_item"{{/ifpage}}>
                <a href="{{#ifpage 'index'}}subpages/{{/ifpage}}index6.html">Kontakt</a>
            </li>
            <span>
                <a id="menu-tel" href="tel:+48692868472">tel. +(48) 692 868 472</a>
                <a id="menu-mail" href="mailto:biuro@nazwa.olsztyn.pl">biuro@nazwa.olsztyn.pl</a>
          </span>
        </ul>
    </header>
</div>