<!-- NEWS-BOX -->
<div class="container-out">
    <section id="news-box" class="container-in">
        <h1>Aktualności</h1>
        <h2>Nasze ostatnie realizacje</h2>

        <!-- NEWS-GALLERY -->
        <div id="news" data-slick='{"speed": 500, "autoplaySpeed": 2500}'>
            <div class="news-item">
                <div class="news-bg">
                    <div class="news-img" style="background-image: url({{root}}assets/img/news1.png);"></div>
                    <div class="news-date">
                        <div class="news-month">Pażdziernika</div>
                        <div class="news-day">28</div>
                    </div>
                </div>
                <h6>Lorem ipsum</h6>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda libero natus quam accusantium cum dicta totam, quis, recusandae quae. Atque.
                </p>
                <a class="button3" href="subpages/index4.html">czytaj więcej +</a>
            </div>

            <div class="news-item">
                <div class="news-bg">
                    <div class="news-img" style="background-image: url({{root}}assets/img/news2.png);"></div>
                    <div class="news-date">
                        <div class="news-month">Pażdziernika</div>
                        <div class="news-day">27</div>
                    </div>
                </div>
                <h6>Lorem ipsum</h6>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda libero natus quam accusantium cum dicta totam, quis, recusandae quae. Atque.
                </p>
                <a class="button3" href="subpages/index4.html">czytaj więcej +</a>
            </div>

            <div class="news-item">
                <div class="news-bg">
                    <div class="news-img" style="background-image: url({{root}}assets/img/news3.png);"></div>
                    <div class="news-date">
                        <div class="news-month">Pażdziernika</div>
                        <div class="news-day">26</div>
                    </div>
                </div>
                <h6>Lorem ipsum</h6>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda libero natus quam accusantium cum dicta totam, quis, recusandae quae. Atque.
                </p>
                <a class="button3" href="subpages/index4.html">czytaj więcej +</a>
            </div>

            <div class="news-item">
                <div class="news-bg">
                    <div class="news-img" style="background-image: url({{root}}assets/img/news1.png);"></div>
                    <div class="news-date">
                        <div class="news-month">Pażdziernika</div>
                        <div class="news-day">25</div>
                    </div>
                </div>
                <h6>Lorem ipsum</h6>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda libero natus quam accusantium cum dicta totam, quis, recusandae quae. Atque.
                </p>
                <a class="button3" href="subpages/index4.html">czytaj więcej +</a>
            </div>
        </div>
    </section>
</div>