<!-- OTHER-BOX -->
<div id="other-box" class="container-out">
    <div id="other" class="container-in">
        <div class="other-item">
            <h6>Warte zobaczenia</h6>
            <div class="other-proposition">
                <a href="#">
                    Lorem ipsum dolor sit amet, consectetur adipisicing.
                </a>
                <a href="#">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus sit recusandae repellendus dicta, repellat et.
                </a>
                <a href="#">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore!
                </a>
            </div>
        </div>

        <div class="other-item">
            <h6>Ważne informacje</h6>
            <div class="other-proposition">
                <a href="#">
                    Lorem ipsum dolor sit amet, consectetur adipisicing.
                </a>
                <a href="#">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus sit recusandae repellendus dicta, repellat et.
                </a>
                <a href="#">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore!
                </a>
            </div>
        </div>

        <div class="other-item" id="other-right">

            <div id="other-social-box">
                <a href="#" id="other-twetter" class="other-social">
                    <img src="{{root}}assets/img/social1.png" alt="tweeter" />
                </a>

                <a href="#" id="other-facebook" class="other-social">
                    <img src="{{root}}assets/img/social2.png" alt="facebook" />
                </a>
            </div>

            <p id="other-questions">
                Masz pytania zadzwoń
            </p>

            <a id="other-phone" href="tel:+48692868472">
                <span>(+48)</span>692 868 472
            </a>
        </div>

        <div id="button-up-box">
            <div id="button-up">Idż do góry</div>
        </div>
    </div>
</div>