<!-- SLIDER-BOX -->
<div id="slider-box" class="container-out">
    <div id="arrow-next" class="slider-arrow">&gt;</div>
    <div id="arrow-prev" class="slider-arrow">&lt;</div>

    <div id="slider-main" data-slick='{"speed": 500, "autoplaySpeed": 2500, "fade": true}'>
        <div class="slider-item" style="background-image: url({{root}}assets/img/slider1.jpg);">
            <div class="container-in">
                <h2>Twoje meble</h2>
                <h1>Nasza pasja</h1>
                <a class="button1" href="#">
                    Czytaj więcej
                </a>
            </div>
        </div>
        <div class="slider-item" style="background-image: url({{root}}assets/img/slider2.jpg);">
            <div class="container-in">
                <h2>Twoje meble</h2>
                <h1>Nasza pasja</h1>
                <a class="button1" href="#">
                    Czytaj więcej
                </a>
            </div>
        </div>
        <div class="slider-item" style="background-image: url({{root}}assets/img/slider3.jpg);">
            <div class="container-in">
                <h2>Twoje meble</h2>
                <h1>Nasza pasja</h1>
                <a class="button1" href="#">
                    Czytaj więcej
                </a>
            </div>
        </div>
    </div>
</div>