<!-- TRUMP-BOX -->
<div id="trump-box" class="container-out">
    <div class="container-in">
        <h1>
            {{#each trump}}
                {{ this }}
            {{/each}}
        </h1>

        <div id="trump-slider" data-slick='{"speed": 500, "autoplaySpeed": 2500}'>
            <div class="trump-item">
                <div style="background-image: url({{root}}assets/img/atut1.png)"></div>
                <div class="trump-header">Darmowe projekty mebli</div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis cumque eaque laudantium placeat tempora nesciunt impedit sit vitae aliquid vero.
                </p>
            </div>

            <div class="trump-item">
                <div style="background-image: url({{root}}assets/img/atut2.png)"></div>
                <div class="trump-header">Darmowa wycena</div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis cumque eaque laudantium placeat tempora nesciunt impedit sit vitae aliquid vero.
                </p>
            </div>

            <div class="trump-item">
                <div style="background-image: url({{root}}assets/img/atut3.png)"></div>
                <div class="trump-header">Fachowe doradztwo</div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis cumque eaque laudantium placeat tempora nesciunt impedit sit vitae aliquid vero.
                </p>
            </div>

            <div class="trump-item">
                <div style="background-image: url({{root}}assets/img/atut4.png)"></div>
                <div class="trump-header">20 lat doświadczenia</div>
                <p>
                    Lorem ipsum dolor cumque eaque laudantium placeat tempora nesciunt impedit sit vitae aliquid vero.
                </p>
            </div>

            <div class="trump-item">
                <div style="background-image: url({{root}}assets/img/atut5.png)"></div>
                <div class="trump-header">Dożytownia gwarancja</div>
                <p>
                    sit vitae aliquid vero.
                </p>
            </div>
        </div>
    </div>
</div>