<!-- SIDE-BOX -->
<aside id="side-box">
    <nav class="menu-box">
        <h1>Menu</h1>

        <ul>
            <li>
                <div class="li-title">Lorem ipsum dolor.</div>
                <ol>
                    <li>
                        <a href="#">Lorem ipsum dolor.</a>
                    </li>

                    <li>
                        <a href="#">Lorem ipsum dolor.</a>
                    </li>

                    <li>
                        <a href="#">Lorem ipsum dolor.</a>
                    </li>
                </ol>
            </li>

            <li>
                <div class="li-title">Lorem ipsum dolor.</div>
                <ol>
                    <li>
                        <a href="#">Lorem ipsum dolor.</a>
                    </li>

                    <li>
                        <a href="#">Lorem ipsum dolor.</a>
                    </li>

                    <li>
                        <a href="#">Lorem ipsum dolor.</a>
                    </li>
                </ol>
            </li>

            <li>
                <div class="li-title">Lorem ipsum dolor.</div>
                <ol>
                    <li>
                        <a href="#">Lorem ipsum dolor.</a>
                    </li>

                    <li>
                        <a href="#">Lorem ipsum dolor.</a>
                    </li>

                    <li>
                        <a href="#">Lorem ipsum dolor.</a>
                    </li>
                </ol>
            </li>

            <li>
                <div class="li-title">Lorem ipsum dolor.</div>
                <ol>
                    <li>
                        <a href="#">Lorem ipsum dolor.</a>
                    </li>

                    <li>
                        <a href="#">Lorem ipsum dolor.</a>
                    </li>

                    <li>
                        <a href="#">Lorem ipsum dolor.</a>
                    </li>
                </ol>
            </li>

            <li>
                <div class="li-title">Lorem ipsum dolor.</div>
                <ol>
                    <li>
                        <a href="#">Lorem ipsum dolor.</a>
                    </li>

                    <li>
                        <a href="#">Lorem ipsum dolor.</a>
                    </li>

                    <li>
                        <a href="#">Lorem ipsum dolor.</a>
                    </li>
                </ol>
            </li>

            <li>
                <div class="li-title">Lorem ipsum dolor.</div>
                <ol>
                    <li>
                        <a href="#">Lorem ipsum dolor.</a>
                    </li>

                    <li>
                        <a href="#">Lorem ipsum dolor.</a>
                    </li>

                    <li>
                        <a href="#">Lorem ipsum dolor.</a>
                    </li>
                </ol>
            </li>
        </ul>
    </nav>
</aside>