<!-- CONTENT-BOX -->
<div class="container-out">
    <div id="content-box" class="container-in">
        <!-- CONTENT -->
        <div id="content">
            <!-- ABOUT -->
            <h1>O naszej firmie</h1>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta voluptatibus molestias quisquam nam in fugit, itaque dolorum? Dolor optio iusto non quaerat fugiat. Commodi iste dolorum, sequi cum iusto, dicta laudantium repellendus nisi. Pariatur, amet! Fugiat rem omnis expedita, aut, doloribus provident tempora molestiae quia consectetur dolorum, officiis totam, eum iste possimus! Enim quibusdam ipsam non. Voluptatem consectetur debitis quibusdam aspernatur ipsum, maxime beatae odit! Quos quam molestias ipsam tempora assumenda doloremque aliquam necessitatibus eveniet id ad, laudantium eos enim harum dolorum deleniti illo eaque facere nihil unde laboriosam temporibus quibusdam accusantium neque! Blanditiis dolores asperiores quia at earum fugit!
            </p>

            <!-- WORK -->
            <div id="work">
                <h1>Realizacje</h1>


                <div id="work-slider" data-slick='{"speed": 500, "autoplaySpeed": 2500}'>
                    <div class="work-border">
                        <a href="#" class="work-item" style="background-image: url({{root}}assets/img/work1.png);"></a>
                    </div>

                    <div class="work-border">
                        <a href="#" class="work-item" style="background-image: url({{root}}assets/img/work2.png);"></a>
                    </div>

                    <div class="work-border">
                        <a href="#" class="work-item" style="background-image: url({{root}}assets/img/work3.png);"></a>
                    </div>

                    <div class="work-border">
                        <a href="#" class="work-item" style="background-image: url({{root}}assets/img/work3.png);"></a>
                    </div>

                    <div class="work-border">
                        <a href="#" class="work-item" style="background-image: url({{root}}assets/img/work3.png);"></a>
                    </div>
                </div>
            </div>
        </div>

        {{> aside}}
    </div>
</div>