<!-- CONTENT-BOX -->
<div class="container-out">
    <div id="content-box" class="container-in">
        <!-- CONTENT -->
        <div id="content">
            <!-- ABOUT -->
            <h1>Aktualności</h1>

            <!-- CONTENT-NEWS-BOX -->
            <div id="content-news-box">
                <div id="content-news" data-slick='{"speed": 500, "autoplaySpeed": 3000}'>
                    <div class="content-news-item">
                        <div style="background-image: url({{root}}assets/img/news1.png)"></div>
                        <div class="content-news-info">
                            <h1>Lorem ipsum dolor.</h1>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, nihil. Nam amet aperiam repellat. Recusandae corporis omnis illum quisquam maiores unde. Mollitia, itaque, aliquam! Dolorem officia corporis minima.
                            </p>
                            <a href="#" class="button3">czytaj więcej+</a>
                        </div>
                        <div class="clean"></div>
                    </div>

                    <div class="content-news-item">
                        <div style="background-image: url({{root}}assets/img/news2.png)"></div>
                        <div class="content-news-info">
                            <h1>Lorem ipsum dolor.</h1>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, nihil. Nam amet aperiam repellat. Recusandae corporis omnis illum quisquam maiores unde. Mollitia, itaque, aliquam! Dolorem officia corporis minima.
                            </p>
                            <a href="#" class="button3">czytaj więcej+</a>
                        </div>
                        <div class="clean"></div>
                    </div>

                    <div class="content-news-item">
                        <div style="background-image: url({{root}}assets/img/news3.png)"></div>
                        <div class="content-news-info">
                            <h1>Lorem ipsum dolor.</h1>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, nihil. Nam amet aperiam repellat. Recusandae corporis omnis illum quisquam maiores unde. Mollitia, itaque, aliquam! Dolorem officia corporis minima.
                            </p>
                            <a href="#" class="button3">czytaj więcej+</a>
                        </div>
                        <div class="clean"></div>
                    </div>

                    <div class="content-news-item">
                        <div style="background-image: url({{root}}assets/img/news1.png)"></div>
                        <div class="content-news-info">
                            <h1>Lorem ipsum dolor.</h1>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, nihil. Nam amet aperiam repellat. Recusandae corporis omnis illum quisquam maiores unde. Mollitia, itaque, aliquam! Dolorem officia corporis minima.
                            </p>
                            <a href="#" class="button3">czytaj więcej+</a>
                        </div>
                        <div class="clean"></div>
                    </div>

                    <div class="content-news-item">
                        <div style="background-image: url({{root}}assets/img/news2.png)"></div>
                        <div class="content-news-info">
                            <h1>Lorem ipsum dolor.</h1>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, nihil. Nam amet aperiam repellat. Recusandae corporis omnis illum quisquam maiores unde. Mollitia, itaque, aliquam! Dolorem officia corporis minima.
                            </p>
                            <a href="#" class="button3">czytaj więcej+</a>
                        </div>
                        <div class="clean"></div>
                    </div>
                </div>
            </div>
        </div>

        {{> aside}}
    </div>
</div>