//BROWSERS BUGS region

*
  -webkit-tap-highlight-color: transparent

*:active,
*:focus
  -moz-outline: none
  outline: none
  -webkit-tap-highlight-color: transparent

//endregion
//MY SELECTIONS region

*::selection
  background-color: $color3
  color: $color2

.slider-arrow::selection
  background-color: transparent
  color: $color1

//endregion

//BODY region

body
  +font(family $font1)
  background: $color3

//endregion

//LOAD-BOX region

#load-box
  background-color: #0C0D08
  height: 100%
  width: 100%
  position: fixed
  z-index: 101
  margin-top: 0px
  top: 0px

#loading-center
  width: 100%
  height: 100%
  position: relative

#loading-center-absolute
  position: absolute
  left: 50%
  top: 50%
  height: 50px
  width: 150px
  margin-top: -25px
  margin-left: -75px

.object
  width: 8px
  height: 50px
  margin-right: 5px
  background-color: $color2
  -webkit-animation: animate 1s infinite
  animation: animate 1s infinite
  float: left
  &:last-child
    margin-right: 0px
  &:nth-child(10)
    -webkit-animation-delay: 0.9s
    animation-delay: 0.9s
  &:nth-child(9)
    -webkit-animation-delay: 0.8s
    animation-delay: 0.8s
  &:nth-child(8)
    -webkit-animation-delay: 0.7s
    animation-delay: 0.7s
  &:nth-child(7)
    -webkit-animation-delay: 0.6s
    animation-delay: 0.6s
  &:nth-child(6)
    -webkit-animation-delay: 0.5s
    animation-delay: 0.5s
  &:nth-child(5)
    -webkit-animation-delay: 0.4s
    animation-delay: 0.4s
  &:nth-child(4)
    -webkit-animation-delay: 0.3s
    animation-delay: 0.3s
  &:nth-child(3)
    -webkit-animation-delay: 0.2s
    animation-delay: 0.2s
  &:nth-child(2)
    -webkit-animation-delay: 0.1s
    animation-delay: 0.1s

@-webkit-keyframes animate
  50%
    -ms-transform: scaleY(0)
    -webkit-transform: scaleY(0)
    transform: scaleY(0)


@keyframes animate
  50%
    -ms-transform: scaleY(0)
    -webkit-transform: scaleY(0)
    transform: scaleY(0)

//endregion
//CONTAINERS region

.container-out
  +relative()
  padding: 0 20px
  +PC_MIN
    padding: 0

.container-in
  +relative()
  +PC_MIN
    +size(width 960px)
    margin: auto

//endregion
//CLEANERS region

.clean
  clear: both

//endregion

//HEADLINES region

#slider-box, #banner-box

  h1
    +font(size 42px weight 400)
    color: $color2
    text-transform: capitalize !important
    +TAB_MIN
      +font(size 62px )
    +PC_MIN
      +font(size 92px)

  h2
    +font(size 25px weight 200)
    color: $color1
    text-transform: capitalize !important
    +TAB_MIN
      +font(size 35px)
    +PC_MIN
      +font(size 65px)

h1
  +font(size 30px weight 400)
  +uppercase
  color: $color8

h2
  +font(size 20px weight 400)
  color: $color1

h5
  +font(size 18px weight 300)
  +uppercase
  color: $color5

h6
  +font(size 26px weight 500)
  color: $color5

p
  +font(family $font2 size 12px)
  line-height: 20px

strong
  +font(family $font2 size 12px weight 700)


//endregion
//BUTTONS & NAV-ICON region

.button1
  +inline-block
  +font(size 16px)
  +uppercase
  +relative()
  +transition(0.4s)
  border: 1px solid $color1
  color: $color1
  padding: 10px 20px
  overflow: hidden
  z-index: 1
  +PC_MIN
    padding: 15px 27px
    &:after
      +absolute(top 0% right -100%)
      +size(height 100% width 100%)
      +transition(0.4s)
      background: $color2
      content: ""
      opacity: 0.2
      z-index: -1
    &:hover
      border: 1px solid $color2
      &:after
        +absolute(right 0)
        opacity: 1

.button2
  +inline-block
  +font(size 16px)
  +uppercase
  +relative()
  +transition(0.4s)
  background: $color2
  border: 1px solid $color2
  color: $color1
  padding: 10px 20px
  overflow: hidden
  z-index: 1
  +PC_MIN
    padding: 15px 27px
    &:after
      +absolute(top 0% right 100%)
      +size(height 100% width 100%)
      +transition(0.4s)
      background: $color3
      content: ""
      opacity: 0.2
      z-index: -1
    &:hover
      border: 1px solid $color3
      &:after
        +absolute(right 0)
        opacity: 1

.button3
  +relative()
  +inline-block
  +font(size 12px weight 400)
  color: $color2
  padding: 5px
  left: -5px
  overflow: hidden
  z-index: 1
  +PC_MIN
    &:after
      +absolute(bottom -100% right 0 left 0)
      +size(height 100%)
      +transition(0.4s)
      background: $color2
      content: ""
      opacity: 0
      z-index: -1
    &:hover
      color: $color3
      &:after
        +absolute(bottom 0px)
        opacity: 1

//endregion

//MAIN region

#main
  background-image: url(../img/background.png)

//endregion

//HEADER-BOX region

#header-box
  +PC_MIN
    +flex(align-items stretch justify-content space-between)

  #logo
    +flex(align-items center justify-content space-between)
    +size(height 70px)
    +PC_MIN
      +size(height auto)

    .nav-icon1
      +pointer
      +PC_MIN
        +hide

//endregion
//MENU-BOX region

#menu-box
  +colors(background-color transparent color #888885)
  +flex(flex-direction column)
  +font(size 14px weight 500)
  +hide
  +text-center
  +relative()
  background: transparentize(white, 0.95)
  margin-bottom: 20px
  +PC_MIN
    +flex-imp(align-items center flex-direction row)
    +text-left
    background: transparent
    margin: 0

  .menu-item
    +uppercase
    +PC_MIN
      padding-right: 20px
  a
    +block
    padding: 18px
    +PC_MIN
      +inline-block
      padding: 48px 0
      &.active
        +transition(0.6s)
        color: $color2

  #magic-line
    +hide
    +PC_MIN
      +block
      +text-center
      background: $color2
      position: absolute
      bottom: 1px
      left: 0
      height: 5px
      width: 30px
      pointer-events: none
      z-index: 100

  .ie6 #example-one li,
  .ie7 #example-one li
    display: inline

  .ie6 #magic-line
    bottom: -31px

  #menu-tel
    +block-imp
    +font(weight 700)
    color: $color1
    +PC_MIN
      +text-right
      padding: 0
      padding-bottom: 10px

  #menu-mail
    +block-imp
    +font(weight 700)
    color: $color2
    +PC_MIN
      +text-right
      padding: 0

//endregion

//SLIDER-BOX region

#slider-box
  padding: 0
  +PC_MIN
    overflow: hidden

.slider-arrow
  +inline-block
  +flex(justify-content center align-items center)
  +font(size 125px weight 100)
  +pointer
  +size(height 54px width 44px)
  +colors(background-color transparent color $color1)
  +transition(0.5s)
  z-index: 50

#arrow-next
  +absolute(bottom 20px right 20px)
  +TAB_MIN
    +absolute(bottom calc(50% - 27px) right 16%)
  +PC_MIN
    transform: translate(30px, 0)
    opacity: 0

    &.arrow-on-place
      transform: translate(0, 0)
      opacity: 1

#arrow-prev
  +absolute(bottom 20px left 20px)
  +TAB_MIN
    +absolute(bottom calc(50% - 27px) left 16%)
  +PC_MIN
    transform: translate(-30px, 0)
    opacity: 0

    &.arrow-on-place
      transform: translate(0, 0)
      opacity: 1

//endregion
//SLIDER-MAIN region

#slider-main
  +text-center
  +PC_MIN
    margin: 1px auto 0

  .slider-item
    +background(position center size cover)
    +flex(align-items center)
    +text-center
    +TAB_MAX
      justify-content: center
    height: 410px
    +PC_MIN
      height: 483px

    h2
      margin-bottom: -10px
      margin: auto
      +TAB_MIN
        margin-bottom: -15px
      +PC_MIN
        margin-bottom: -25px

    .button1
      margin-top: 15px
      +PC_MIN
        margin-top: 30px

//endregion

//TRUMP-BOX region

#trump-box
  +text-center
  background: $color18
  padding: 40px 0
  z-index: 100
  +PC_MIN
    padding: 68px 0


//endregion
//TRUMP-SLIDER region

#trump-slider
  +colors(color $color1)

  .slick-track
    +PC_MIN
      transform: translate3d(0, 0, 0) !important

  .slick-list
    +PC_MIN
      overflow: visible !important

//endregion
//TRUMP-ITEM region

.trump-item
  +flex(flex-direction column)
  +pointer
  +relative()
  padding: 10px 0
  +PC_MIN
    &:hover
      p
        +absolute(top 175px)
        +transition(0.3s)
        opacity: 1
        transform: scale(1)

  div[style*=background]
    +background(position center repeat no-repeat)
    +transition(0.3s)
    height: 130px

  .trump-header
    +font(size 15px)

  p
    +absolute(top 165px left calc(50% - 125px))
    +inline-block
    +size(width 230px)
    +transition(0.5s)
    +text-left
    background: transparentize($color3, 0.2)
    padding: 10px
    pointer-events: none
    opacity: 0
    transform: scale(0.5)
    transform-origin: top
    &:after
      +absolute(top -10px left calc(50% - 10px))
      +block
      +size(width 0 height 0)
      border-style: solid
      border-width: 0 10px 10px 10px
      border-color: transparent transparent transparentize($color3, 0.1)
      content: ""

//endregion

//GALLERY-BOX region

#gallery-box
  +text-center
  padding: 40px 0
  margin: auto
  +size(max-width 320px)
  +MIN(600px)
    +size(max-width 540px)
  +PC_MIN
    +size(max-width 960px)
    padding: 68px 0

  h1, h2
    +TAB_MIN
      +inline-block

  #gallery
    +relative()
    margin-top: 30px
    +PC_MIN
      margin-top: 69px

//endregion
//GALLERY-ITEM region

.gallery-item
  +relative()
  +block
  +left
  +size(height 215px width 100%)
  +text-left
  +transition(0.4s)
  +margin(bottom 1px)
  background: $color11
  box-sizing: border-box
  padding: 5px
  overflow: hidden
  z-index: 1
  &:after
    +absolute(top 0% left -100%)
    +size(height 100% width 100%)
    +transition(0.4s)
    background: $color2
    content: ""
    z-index: -1
  +PC_MIN
    +size(width calc(50% - 2px))
    margin: 0.5px
    &:hover
      background: $color2
      &:after
        +absolute(left 0)
      .button1
        border: 1px solid $color2 !important
        background: $color2 !important
        &:after
          +absolute(right 0)

//endregion
//GALLERY-IMG region

.gallery-img
  +background(size cover)
  +relative()
  +size(width 100% height 100%)
  +left
  box-sizing: border-box
  overflow: hidden
  +MIN(600px)
    +size(width 50%)

  .button1
    +absolute(bottom 0)
    +font(size 12px)
    +transition(0.7s)
    border: 1px solid $color3
    background: $color3
    margin: 5px
    padding: 10px 26px
    +PC_MIN
      opacity: 0
      transform: translate(0, -100px)
      &.showing
        transform: translate(0, 0)
        opacity: 1

//endregion
//GALLERY-INFO region

.gallery-info
  +absolute(left 0)
  +size(width 50%)
  box-sizing: border-box
  padding: 20px
  z-index: 50
  +left
  +MIN(600px)
    +static(left auto)
    padding: 30px 19px

  &.right
    +PC_MIN
      +right

  h5, h6
    +inline-block
    background: $color1
    padding: 5px
    +MIN(600px)
      +block
      background: transparent
      padding: 0

  h5
    margin-bottom: 5px

  p
    +hide
    +MIN(600px)
      +block
      +font(family $font3 weight 400)
      margin-top: 24px

//endregion

//ABOUT-BOX region

#about-box
  +background(position center size cover)
  +flex(align-items center)
  +text-center
  +padding(top 40px bottom 40px)
  overflow: hidden
  +TAB_MAX
    justify-content: center
  +PC_MIN
    +padding(top 72px bottom 72px)
    +size(min-height 252px)

  #about
    max-width: 709px
    +PC_MIN
      +transition(0.7s)
      transform: translate(0, 500px)
      &.showing
        transform: translate(0, 0)


  h1, h2
    +TAB_MIN
      +inline-block

  h1
    margin-top: 5px
    +TAB_MIN
      margin-left: 5px
      margin-top: 0

  strong
    +block
    color: $color4

  p
    color: $color4
    margin-top: 20px
    +PC_MIN
      margin-top: 50px

  #buttons-box
    +flex(align-items center justify-content center flex-direction column)
    margin-top: 20px
    +TAB_MIN
      flex-direction: row
    +PC_MIN
      margin-top: 50px

    .button1, .button2
      +font(size 12px)
      padding: 10px 26px

    .or
      +inline-block
      +font(size 12px)
      color: $color7
      margin: 10px 0
      +TAB_MIN
        margin: 0 20px

//endregion

//NEWS-BOX region

#news-box
  +text-center
  +padding(top 40px bottom 40px)
  overflow: hidden
  +PC_MIN
    +padding(top 65px bottom 65px)

  h1, h2
    +TAB_MIN
      +inline-block

  h2
    margin-top: 5px
    +TAB_MIN
      margin-left: 5px
      margin-top: 0

  #news
    +margin(top 20px)
    +margin(left -10px right -10px)
    +PC_MIN
      +margin(left -35px right -35px)
      +transition(0.7s)
      transform: translate(1000px, 0)
      margin: 68px 0 0 0
      &.showing
        transform: translate(0, 0)

//endregion
//NEWS-ITEM region

.news-item
  +size(width 292px)
  +text-left
  +relative()
  margin: 0 10px
  +PC_MIN
    margin: 0 26px

  .news-bg
    +flex()
    background: $color6
    padding: 5px

  .news-img
    +background(position center size cover)
    +size(height 110px width 70%)

  .news-date
    +text-center
    flex: 1
    color: $color3
    margin-top: 15px

  .news-month
    +font(size 10px weight 700)
    +uppercase

  .news-day
    +font(size 24px weight 400)
    margin-top: 5px

  h6
    +font(size 14px weight 700)
    color: $color1
    margin-top: 27px

  p
    +font(size 12px weight 400 family $font3)
    color: $color4
    margin-top: 14px

  .button3
    margin-top: 14px


//endregion

//CONTACT-BOX region

#contact-box
  +background(size cover)
  +text-center
  padding: 40px 20px
  overflow: hidden
  +PC_MIN
    padding: 70px 0

  h1, h2
    +TAB_MIN
      +inline-block

  h2
    margin-top: 5px
    +TAB_MIN
      margin-left: 5px
      margin-top: 0

  #contact
    +PC_MIN
      +transition(0.7s)
      transform: translate(-1000px, 0)
      opacity: 0
      &.showing
        transform: translate(0, 0)
        opacity: 1

//endregion
//FORM region

#contact-box

  form
    +inline-block
    color: $color4
    margin-top: 30px
    +PC_MIN
      margin-top: 69px

  #form-top
    +text-right

    div
      +TAB_MIN
        +inline-block
        +relative(left -11px)

  #form-bottom
    +margin(left auto)
    +size(width 220px)
    +MIN(340px)
      +size(width 280px)
    +MIN(440px)
      +flex(align-items center justify-content space-between)
      +size(width 380px)
    +TAB_MIN
      +size(width 468px)

  label
    +block
    +font(size 12px family $font2 weight 700)
    +text-left
    margin-top: 10px
    &:after
      +inline-block
      content: "*"
      color: $color2
    +TAB_MIN
      +inline-block
      margin: 0 5px 0 0

  #label-mail
    +size(min-width 78px)

  #label-message
    +TAB_MIN
      +relative(bottom 100px)

  input, textarea
    +background(color transparent)
    +font(size 12px family $font2 weight 400)
    +size(height 43px)
    box-sizing: border-box
    border: 1px solid $color4
    border-radius: 0px !important
    color: $color4
    padding: 10px
    margin: 5px 0
    overflow: auto
    +TAB_MIN
      margin: 2px 0


  #contact-name, #contact-email
    +inline-block
    +size(height 43px width 100%)
    +TAB_MIN
      +size(width 183px)

  #contact-message
    +inline-block
    +size(height 133px width 100%)
    resize: none
    +TAB_MIN
      +size(width 468px)

  #contact-submit
    +font(size 12px weight 700 family $font1)
    +pointer
    +uppercase
    +size(height 32px width 175px)
    background: $color2
    border: 1px solid $color2
    color: $color1
    padding: 0 10px
    +MAX(439px)
      margin-top: 20px

  #contact-info
    +font(size 12px family $font2 weight 400)
    +inline-block
    &:after
      content: ""
    &:before
      +inline-block
      content: "*"
      color: $color2
      margin-right: 5px

//endregion

$class-slug: for !default

@for $i from 1 through 4
  .#{$class-slug}-#{$i}
    width: 60px + $i

//OTHER-BOX region

#other-box
  +background(image url(../img/other.jpg))
  +PC_MIN
    margin-bottom: 70px

  #other
    +relative()
    +flex(flex-direction column)
    +size(min-height 164px)
    padding: 31px 0
    //+TAB_MAX
      align-items: center
    +TAB_MIN
      flex-direction: row

    .other-item
      +relative()
      +size(width 100%)
      box-sizing: border-box
      +TAB_MIN
        +size(width 33.333%)
      +TAB_MAX
        margin-bottom: 20px
        &:nth-child(3)
          margin-bottom: 0

      h6
        +uppercase
        color: $color1

    #other-right
      +text-right
      +flex(flex-direction column justify-content center)
      +PC_MIN
        +transition(0.7s)
        opacity: 0
        &.showing
          opacity: 1

//endregion
//OTHER-PROPOSITION region

.other-proposition
  margin-top: 20px
  padding-right: 35px
  +PC_MIN
    padding-right: 25px
    margin-top: 40px

  a
    +block
    +font(family $font3 size 12px weight 400)
    +relative()
    color: $color7
    line-height: 15px
    margin-bottom: 10px
    margin-left: 15px
    &:before
      content: url(../img/list-plus.png)
      +absolute(left -15px)
    +PC_MIN
      &:hover
        color: $color2

//endregion
//OTHER-SOCIAL-BOX region

#other-social-box
  +absolute(bottom 0px left 0)
  +flex()
  +TAB_MIN
    +absolute(top 0 right 0 left auto bottom auto)

  .other-social
    +flex(align-items center justify-content center)
    +size(height 39px width 39px)
    +relative()
    border: 1px solid transparentize($color13, 0.85)
    margin-left: 11px
    overflow: hidden
    z-index: 0
    +PC_MIN
      &:after
        +absolute(top 100% right 0)
        +size(height 100% width 100%)
        +transition(0.4s)
        background: $color2
        content: ""
        opacity: 0.2
        z-index: -1
      &:hover
        &:after
          +absolute(top 0)
          opacity: 1

//endregion
//OTHER-PHONE, OTHER-QUESTION region

#other-questions
  +font(size 11px weight 400)
  +uppercase
  color: $color2
  margin: 0 0 0 110px
  +MIN(400px)
    +font(size 14px)
    margin: 0

#other-phone
  +font(size 17px)
  color: $color13
  margin-left: 110px
  margin: 0 0 5px 110px
  +MIN(400px)
    +font(size 30px)
    margin: 0

  span
    +font(size 14px)
    margin-right: 3px

//endregion
//BUTTON-UP-BOX region

#button-up-box
  +absolute(top -15px right 0)
  +pointer
  +TAB_MIN
    +absolute(right 19%)
  +PC_MIN
    +transition(0.4s)
    transform: translate(0, 100px)
    opacity: 0
    &.showing
      transform: translate(0, 0)
      opacity: 1

  #button-up
    +font(size 12px)
    +relative()
    +uppercase
    +inline-block
    margin-top: 45px
    +MAX(400px)
      color: transparent
    color: $color1
    &:after
      +absolute(top -40px right calc(50% - 21px))
      +size(height 0 width 0)
      border-style: solid
      border-width: 0 21px 21px 21px
      border-color: transparent transparent $color14
      content: ""

//endregion

//FOOTER-BOX region

#footer-box
  +colors(background-color $color3 color $color1)
  +PC_MIN
    +fixed(bottom 0 left 0 right 0)
    z-index: -20

#footer
  +flex(flex-direction column justify-content center)
  +size(height 90px)
  +MIN(580px)
    +flex(justify-content space-between align-items center)
    +size(height 70px)
    flex-direction: row

  p
    color: #837d7d

  a
    color: $color2
    +relative()
    +inline-block
    +font(size 12px weight 400)
    color: $color2
    padding: 5px 0
    +PC_MIN
      &:after
        +absolute(top -10px right -2px left -2px)
        +size(height 100%)
        +transition(0.4s)
        background: $color2
        content: ""
        opacity: 0
        z-index: -1
      &:hover
        color: $color3
        &:after
          +absolute(top 0)
          opacity: 1

//endregion

//BANNER-BOX region

#banner-box
  padding: 0
  .slider-item
    +size(height 200px)
    +PC_MIN
      +size(height 343px)

//endregion

//CONTENT-BOX region

#content-box
  padding: 40px 0
  +TAB_MIN
    +flex()
  +PC_MIN
    padding: 40px 0

  h1
    margin-bottom: 30px

  #content
    flex: 1
    overflow: hidden
    +TAB_MIN
      margin-right: 30px
    +PC_MIN
      margin-right: 59px

    p
      +font(family $font3)
      color: $color4
      line-height: 18px

//endregion
//WORK-BOX region

#work
  margin: 0
  +TAB_MAX
    padding-top: 40px
  +PC_MIN
    +transition(0.7s)
    transform: translate(800px, 0)
    opacity: 0
    &.showing
      transform: translate(0, 0)
      opacity: 1

  h1
    +PC_MIN
      margin-top: 30px

  .work-border
    +relative()
    +size(height 124px width 150px)
    box-sizing: border-box
    border: 1px solid $color2
    margin: 0px 3px

  .work-item
    +background(size cover)
    +block
    +size(height 100% width 100%)
    border: 1px solid $color1
    box-sizing: border-box
    +transition(0.4s)
    &:after
      +absolute(top -100% left 0)
      +block
      +transition(0.4s)
      +size(height 100% width 100%)
      background: $color2
      content: ""
      opacity: 0

    &:before
      +absolute(top -200% left 0)
      +block
      +flex(align-items center justify-content center)
      +transition(0.6s)
      +size(height 100% width 100%)
      content: url(../img/zoom.png)
      z-index: 1

    +PC_MIN
      &:hover
        &:after
          top: 0
          opacity: 0.7
        &:before
          top: 0

//endregion
//SIDE-BOX region

#side-box
  +PHONE_ONLY
    padding-top: 40px
  box-sizing: border-box
  +TAB_MIN
    +size(min-width 270px)

  .menu-box

    .li-title
      +transition(0.3s)
      background: $color2
      padding: 12px 0
      +PC_MIN
        &:hover
          background: $color15
          margin: 0 -3px

    ul > li
      +colors(background-color $color16 color $color1)
      +font(size 14px weight 700)
      +text-center
      +uppercase
      +pointer
      margin-top: 1px
      +PC_MIN
        &:hover
          background: $color16

      &.show-li

        .li-title
          margin: 0 -3px

        ol
          +block

      ol
        +hide
        +transition(3s)

      ol > li > a
        +block
        +colors(background-color $color16 color $color3)
        padding: 12px 0
        +PC_MIN
          &:hover
            background: $color17

//endregion

//CONTENT-NEWS-BOX region

#content-news-box
  padding-bottom: 30px

  .slick-list
    height: 535px !important
    overflow: hidden

//endregion
//CONTENT-NEWS-ITEM region

$minWidth1: 500px
$minHeight1: 150px

.content-news-item
  margin-bottom: 40px
  width: auto !important

  >div[style*=background]
    +MIN($minWidth1)
      +background(size cover position center)
      +left
      +size(width 150px height $minHeight1)

//endregion
//CONTENT-NEWS-INFO region

.content-news-info
  +relative()
  +size(height $minHeight1)
  +MIN($minWidth1)
    +left
    margin-left: 30px
    overflow: hidden

  h1
    +font(size 16px weight 600)
    color: $color1

  p
    +size(max-width 250px)
    margin-top: 20px

  .button3
    +absolute(bottom 0)
    +PC_MIN
      +transition(0.4s)
      opacity: 0
      transform: translate(0, -200px)
      &.showing
        opacity: 1
        transform: translate(0, 0)


//endregion


